:root{
    --renk-koyu-mavi:#075192;
    --renk-acik-mavi:#0c63a9;
}
/* css*/
header{
background-color: var(--renk-koyu-mavi);

}
#main-menu{
    background-color:var(--renk-acik-mavi);
}
#main-menu .nav-link{
    color: #fff;
}
#site-baslik h2{
    color:var(--renk-koyu-mavi)
}
#site-baslik h3{
    color: var(--renk-acik-mavi);
}
#baglanti-liste .list-group-item{
    background-color: var(--renk-acik-mavi);
}

/*genel css*/
.sol-ust-yuvarla{
    border-top-left-radius: 2rem;
}
#baglanti-liste .nav-link{
    color: #fff;
}
#slider1 .carousel-indicators-caption h5{
    background-color: #000005;
    color: #fff;
    padding: 1rem 0;
}
.sag-alt-yuvarla{
  border-bottom-right-radius: 1rem;
}
.sol-ust-yuvarla{
    border-top-right-radius: 1rem !important;
}
.carousel-indicators [data-bs-target]{
    width: 75px;
    height: auto;
  
}



